<h1>Trajectory</h1>
<p>Welcome to Trajectory! <br>
This site is designed with the express intention of assisting people locate lost individuals or misplaced items. <br>
To achieve this, this app enables users join a 'gang', share their location, assigns them to search a selected area allows group message 'halls' to assit in their search. </p>

<div class="awesome">
  <%= link_to "Access to your profile", new_user_registration_path( status: { status:"user" }), class: "btn btn-pink text-black text-uppercase fw-bold", style: "color:black"%>
  <%= link_to "Access to admin", new_admin_registration_path( status: { status:"admin" }), class: "btn btn-pink text-black text-uppercase fw-bold", style: "color:black"%>
</div>
