<h1>Search Party # <%= @search.id %></h1>

<%# dropdown list with users and a button to add member to search party %>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Add Member
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <% @users.each do |user| %>
      <li><a class="dropdown-item" href="/searches/<%= @search.id %>/add_member/<%= user.id %>"><%= user.email %></a></li>
    <% end %>
  </ul>
</div>
